<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biddingmate.biddinggo.auth.mapper.AuthSocialMapper">

    <select id="findBySocialInfo" resultType="com.biddingmate.biddinggo.member.model.Member">
        SELECT m.*
        FROM member m
                 JOIN social_account s ON m.id = s.member_id
        WHERE s.provider = #{provider} AND s.provider_id = #{providerId}
    </select>


    <insert id="saveSocialAccount">
        INSERT INTO social_account (member_id, provider, provider_id, created_at)
        VALUES (#{memberId}, #{provider}, #{providerId}, NOW())
    </insert>



</mapper>