<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biddingmate.biddinggo.review.mapper.ReviewMapper">

    <insert id="insertReview" parameterType="Review" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review (
            deal_id,
            writer_id,
            target_id,
            rating,
            content,
            created_at
        ) VALUES (
                     #{dealId},
                     #{writerId},
                     #{targetId},
                     #{rating},
                     #{content},
                     NOW()
                 )
    </insert>

    <select id="countByDealIdAndWriterId" resultType="int">
        SELECT COUNT(*)
        FROM review
        WHERE deal_id = #{dealId} AND writer_id = #{writerId}
    </select>

    <select id="findSellerReviewsBySellerId" resultType="SellerReviewResponse">
        SELECT
            m.nickname AS buyerNickname,
            r.rating AS rating,
            r.content AS reviewText,
            r.created_at AS reviewDate
        FROM review r 
        INNER JOIN member m ON m.id = r.writer_id
        WHERE r.target_id = #{sellerId}
        ORDER BY r.created_at ${pageRequest.order}
        LIMIT #{pageRequest.size}
        OFFSET #{pageRequest.offset}
    </select>
    
    <select id="countSellerReviewsBySellerId" parameterType="long" resultType="long">
        SELECT COUNT(*)
        FROM review r
        WHERE r.target_id = #{sellerId}
    </select>
</mapper>