<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biddingmate.biddinggo.member.mapper.MemberMapper">
  
    <select id="getPointById" resultType="long">
        SELECT point
        FROM member
        WHERE id = #{id}
    </select>

    <update id="addPoint" parameterType="map">
        UPDATE
            member
        SET
            point = point + #{amount}
        WHERE
            id = #{id};
    </update>

    <select id="findDashboardInfoById" parameterType="long" resultType="MemberDashboardResponse">
        SELECT  m.nickname AS nickname,
                m.grade AS grade,
                m.point AS point,
                m.image_url AS imageUrl
        FROM member m
        WHERE m.id = #{memberId}
    </select>

    <select id="findPurchaseItemsById" parameterType="long" resultType="MemberWonItemResponse">
        SELECT
                wd.id AS id,
                ai.name AS itemName,                    -- 상품 이름
                wd.status AS status,                    -- 거래 상태
                wd.winner_price AS winnerPrice,         -- 구매 금액
                wd.created_at AS createdAt             -- 거래 생성일
        FROM winner_deal wd

        -- 낙찰된 경매 정보 연결
        INNER JOIN auction a
        ON wd.auction_id = a.id

        -- 경매에 연결된 상품 정보
        INNER JOIN auction_item ai
        ON a.item_id = ai.id

        WHERE wd.winner_id = #{memberId}

        AND wd.status != 'CANCELLED'
        ORDER BY wd.created_at DESC             -- 최신순
        LIMIT 3                                 -- 최근 3건만 노출
    </select>

    <select id="findBiddingItemsById" parameterType="long" resultType="MemberBiddingItemResponse">
        SELECT
            ii.url AS imageUrl,                 -- 상품 대표 이미지 URL
            ai.name AS itemName,                -- 상품 이름
            mb.auction_id AS auctionId,
            COALESCE(a.vickrey_price, a.start_price) AS currentPrice, -- 현재가(차순위가 없으면 시작가)
            mb.myBidPrice AS myBidPrice,        -- 내가 해당 경매에서 입찰한 최고 금액
            a.end_date AS endDate,              -- 경매 종료일
            a.status AS status                  -- 경매 상태
        FROM (                                  -- 한 경매에 여러 번 입찰 가능, MAX()로 "내 최고 입찰가" 뽑기
                 SELECT
                     b.auction_id,
                     MAX(b.amount) AS myBidPrice
                 FROM bid b
                 WHERE b.bidder_id = #{memberId}       -- 경매에 참여한 사용자 id
                 GROUP BY b.auction_id
             ) mb

                 INNER JOIN auction a
                            ON a.id = mb.auction_id

                 INNER JOIN auction_item ai
                            ON a.item_id = ai.id

                 LEFT JOIN item_image ii
                           ON ii.item_id = ai.id
                               AND ii.`display_order` = 1

        ORDER BY a.end_date DESC
        LIMIT 2
    </select>

    <select id="findById" parameterType="long" resultType="Member">
        SELECT
            id,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE id = #{id}
    </select>

    <update id="usePoint" parameterType="map">
        UPDATE
            member
        SET
            point = point - #{amount}
        WHERE
            id = #{id} AND
            point >= #{amount};
    </update>

    <select id="findProfileById" parameterType="long" resultType="MemberProfileResponse">
        SELECT
            m.image_url AS imageUrl,
            m.name AS name,
            m.nickname AS nickname,
            m.email AS email,
            m.grade AS grade,
            a.zipcode AS zipcode,
            a.address AS address,
            a.detail_address AS detailAddress,

            m.bank_code AS bankCode,
            m.bank_account AS bankAccount,

            m.created_at AS createdAt,

            COALESCE(r.reviewCount, 0) AS reviewCount,
            COALESCE(r.ratingAvg, 0) AS ratingAvg

        FROM member m
                 LEFT JOIN address a ON m.id = a.member_id
            AND a.default_yn = 1

                 LEFT JOIN (
            SELECT
                target_id,
                COUNT(*) AS reviewCount,
                AVG(rating) AS ratingAvg
            FROM review
            GROUP BY target_id
        ) r ON m.id = r.target_id

        WHERE m.id = #{memberId}
    </select>

<!-- auth 아아디조회 -->
    <select id="selectMemberByUsername" parameterType="String" resultType="Member">

        SELECT
            id,
            username,
            password,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE username = #{username}

    </select>

    <!-- auth 이메일조회 -->
    <select id="selectMemberByEmail" parameterType="string" resultType="Member">
        SELECT
            id,
            username,
            password,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE email = #{email}
    </select>

    <!-- auth 닉네임조회 -->
    <select id="selectMemberByNickname" parameterType="string" resultType="Member">
        SELECT
            id,
            username,
            password,
            name,
            nickname,
            email,
            image_url AS imageUrl,
            point,
            bank_code AS bankCode,
            bank_account AS bankAccount,
            grade,
            role,
            status,
            last_change_nick AS lastChangeNick,
            created_at AS createdAt
        FROM member
        WHERE nickname = #{nickname}
    </select>

    <!-- auth 회원가입 -->
    <insert id="insert" parameterType="Member">
        INSERT INTO member (

            username,
            password,
            name,
            nickname,
            email,
            role,
            status,
            created_at

        ) VALUES (
            #{username},
            #{password},
            #{name},
            #{nickname},
            #{email},
            #{role},
            #{status},
            NOW()
                 )
    </insert>

    <!-- 소셜 회원 저장: 필수 필드와 선택 필드를 구분하여 처리 -->
    <insert id="saveMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (
        username,
        name,
        nickname,
        email,
        role,
        image_url,
        created_at
        ) VALUES (

        #{username},
        #{name},
        #{nickname},
        #{email},
        #{role},
        #{imageUrl},
        NOW()
        )

    </insert>

    <!-- 소셜 회원 수정: 변경된 필드만 업데이트하도록 <set> 태그 사용 -->
    <update id="updateMember">
        UPDATE member
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="email != null">email = #{email},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!--  소셜 회원 필수 정보 입력  -->
    <update id="updateMemberInfo" parameterType="com.biddingmate.biddinggo.auth.dto.SocialInfoUpdateDto">
        UPDATE member
        SET name = #{name},
            nickname = #{nickname},
            image_url = #{imageUrl},
            status = #{status}
        WHERE username = #{username}
    </update>

    <select id="countByNickname" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE nickname =#{nickname}
    </select>

    <update id="updateProfile" parameterType="map">
        UPDATE member
        <set>
            <if test="request.nickname != null and request.nickname != ''">
                nickname = #{request.nickname},
                last_change_nick = NOW(),
            </if>
            <if test="request.imageUrl != null and request.imageUrl != ''">
                image_url = #{request.imageUrl},
            </if>
            <if test="request.bankCode != null and request.bankCode != ''">
                bank_code = #{request.bankCode},
            </if>
            <if test="request.bankAccount != null and request.bankAccount != ''">
                bank_account = #{request.bankAccount},
            </if>
        </set>
        WHERE id = #{memberId}
    </update>

    <update id="deleteMember" parameterType="long">
        UPDATE member
        SET status = 'DELETED'
        WHERE id = #{memberId}
    </update>

    <select id="findUsernameById" parameterType="long" resultType="string">
        SELECT username
        FROM member
        WHERE id = #{memberId}
    </select>

<select id="findSalesItemsById" parameterType="long" resultType="MemberSalesItemResponse">
    SELECT
        wd.id AS id,
        ai.name AS itemName,            -- 상품명
        wd.status AS status,            -- 거래 상태
        wd.winner_price AS winnerPrice, -- 판매 금액(낙찰 금액)
        wd.created_at AS createdAt      -- 거래 생성일
    FROM winner_deal wd

    -- 거래와 연결된 경매 정보 조회
    INNER JOIN auction a
    ON wd.auction_id = a.id

    -- 경매에 연결된 상품 정보 조회
    INNER JOIN auction_item ai
    ON a.item_id = ai.id

    -- 해당 회원이 판매자인 거래만 조회
    WHERE wd.seller_id = #{memberId}

    -- 진행 중인 판매 현황만 조회
    AND wd.status != 'CANCELLED'

    -- 최신 거래 순으로 정렬
    ORDER BY wd.created_at DESC

    -- 3건만 노출
    LIMIT 3
</select>

<select id="countSalesByMemberId" resultType="long">
    SELECT COUNT(*)
    FROM winner_deal wd
    WHERE wd.seller_id = #{memberId}
      AND wd.status IN ('PAID', 'CONFIRMED')
</select>

<select id="findPurchasesByMemberId" resultType="MemberPurchaseItemResponse">
    SELECT
        ai.name AS itemName,
        seller.name AS sellerName,
        wd.winner_price AS price,
        wd.confirmed_at AS completedAt,
        wd.delivery_status AS deliveryStatus
    FROM winner_deal wd
    INNER JOIN auction a
        ON wd.auction_id = a.id
    INNER JOIN auction_item ai
        ON a.item_id = ai.id
    INNER JOIN member seller
        ON wd.seller_id = seller.id
    WHERE wd.winner_id = #{memberId}
      AND wd.status IN ('PAID', 'CONFIRMED')

    <choose>
        <when test="pageRequest.order != null and pageRequest.order.toUpperCase() == 'ASC'">
            ORDER BY wd.confirmed_at ASC
        </when>
        <otherwise>
            ORDER BY wd.confirmed_at DESC
        </otherwise>
    </choose>

    LIMIT #{pageRequest.size}
    OFFSET #{pageRequest.offset}
</select>

<select id="countPurchasesByMemberId" resultType="long">
    SELECT COUNT(*)
    FROM winner_deal wd
    WHERE wd.winner_id = #{memberId}
      AND wd.status IN ('PAID', 'CONFIRMED')
</select>

<!--    <select id="findSellingItemsByMemberId" resultType="MemberSellingItemResponse">-->
<!--        SELECT-->
<!--        ai.name AS itemName,                                  &#45;&#45; 상품명-->
<!--        COALESCE(a.vickrey_price, a.start_price) AS currentPrice, &#45;&#45; 현재 최고가-->
<!--        a.start_price AS startPrice,                          &#45;&#45; 시작가-->
<!--        a.bid_count AS bidCount,                              &#45;&#45; 입찰 수-->
<!--        TIMESTAMPDIFF(SECOND, NOW(), a.end_date) AS remainingSeconds, &#45;&#45; 남은 시간(초)-->
<!--        a.type AS auctionType,                                &#45;&#45; 경매 타입-->
<!--        ii.url AS imageUrl                                    &#45;&#45; 대표 이미지 URL-->
<!--        FROM auction a-->

<!--        INNER JOIN auction_item ai-->
<!--        ON a.item_id = ai.id-->

<!--        LEFT JOIN item_image ii-->
<!--        ON ii.item_id = ai.id-->
<!--        AND ii.display_order = 1-->

<!--        WHERE a.seller_id = #{memberId}-->
<!--        AND a.status = #{status}-->

<!--        <choose>-->
<!--            <when test="pageRequest.order != null and pageRequest.order.toUpperCase() == 'ASC'">-->
<!--                ORDER BY a.end_date ASC-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                ORDER BY a.end_date DESC-->
<!--            </otherwise>-->
<!--        </choose>-->

<!--        LIMIT #{pageRequest.size}-->
<!--        OFFSET #{pageRequest.offset}-->
<!--    </select>-->

<!--    <select id="countSellingItemsByMemberId" resultType="long">-->
<!--        SELECT COUNT(*)-->
<!--        FROM auction a-->
<!--        WHERE a.seller_id = #{memberId}-->
<!--          AND a.status = #{status}-->
<!--    </select>-->

    <!-- 관리자용 모든 사용자 계정 조회 -->
    <select id="findAllWithFilter" resultType="MemberListView">
        SELECT id,
               nickname,
               email,
               status,
               created_at AS createdAt
        FROM member
        <where>
            role = 'USER'
            <if test="keyword != null and keyword != ''">
                AND (
                nickname LIKE CONCAT('%', #{keyword}, '%')
                OR email LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY created_at ${sortOrder}
    </select>

    <select id="countTotalMember" resultType="int">
        SELECT COUNT(*)
        FROM member
        <where>
            role = 'USER'
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR email LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <update id="updateMemberStatus" parameterType="map">
        UPDATE member
        SET status = #{status}
        WHERE id = #{memberId}
    </update>
    
    <select id="findSellerStats" parameterType="long" resultType="MemberSellerProfileResponse">
        SELECT
            m.nickname AS nickname,
            m.image_url AS imageUrl,
            m.grade AS grade,
            m.created_at AS createdAt,

            -- 평균 평점 및 리뷰 수
            (SELECT ROUND(IFNULL(AVG(rating), 0), 1)
             FROM review
             WHERE target_id = #{memberId}) AS rating,

            (SELECT COUNT(*)
             FROM review
             WHERE target_id = #{memberId}) AS reviewCount,

            -- 총 판매 건수
            (SELECT COUNT(*)
             FROM winner_deal
             WHERE seller_id = #{memberId}
               AND status IN ('PAID','SHIPPED','CONFIRMED')) AS totalSales,

            -- 판매 취소 건수
            (SELECT COUNT(*)
             FROM winner_deal
             WHERE seller_id = #{memberId}
               AND status = 'CANCELLED') AS cancelCount,

            -- 실제 응답률 계산
            (SELECT
                 CASE
                     WHEN COUNT(*) = 0 THEN 0
                     ELSE ROUND((COUNT(CASE WHEN status = 'ANSWERED' THEN 1 END) / COUNT(*)) * 100)
                     END
             FROM auction_inquiry
             WHERE answerer_id = #{memberId}) AS responseRate
        FROM member m
        WHERE m.id = #{memberId}
          AND m.status != 'DELETED'
    </select>

    <!-- 판매중인 경매 존재 여부 -->
    <select id="existsOngoingSales" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM auction
            WHERE seller_id = #{memberId}
              AND status = 'ON_GOING'
        )
    </select>

    <!-- 입찰중인 경매 존재 여부 -->
    <select id="existsOngoingBids" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM bid b
                     INNER JOIN auction a
                                ON b.auction_id = a.id
            WHERE b.bidder_id = #{memberId}
              AND a.status = 'ON_GOING'
              AND b.status = 'ACTIVE'
        )
    </select>

    <!-- 거래 미완료 존재 여부 -->
    <select id="existsIncompleteDeals" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM winner_deal
            WHERE (winner_id = #{memberId} OR seller_id = #{memberId})
              AND status != 'CONFIRMED'
        )
    </select>

    <!-- 사용자 VIP 등급 재산정을 위한 거래 건수 측정 -->
    <select id="countConfirmedDealsByMemberId" resultType="long">
        SELECT COUNT(*)
        FROM winner_deal
        WHERE status = 'CONFIRMED'
          AND (winner_id = #{memberId} OR seller_id = #{memberId})
    </select>

    <!-- 사용자 VIP 등급 재산정 -->
    <update id="updateMemberGrade">
        UPDATE member
        SET grade = #{grade}
        WHERE id = #{memberId}
    </update>

    <!-- 경매 목록 조회-->
    <select id="findMySalesAuctions" resultType="MemberSalesAuctionResponse">
        SELECT
        auctionId,
        itemName,
        currentPrice,
        bidCount,
        endDate,
        auctionType,
        inspectionYn,
        saleStatus,
        imageUrl
        FROM (
        SELECT
        a.id AS auctionId,
        ai.name AS itemName,
        COALESCE(a.winner_price, a.vickrey_price, a.start_price) AS currentPrice,
        a.bid_count AS bidCount,
        a.end_date AS endDate,
        a.type AS auctionType,
        a.inspection_yn AS inspectionYn,
        CASE
        WHEN a.status = 'PENDING' THEN 'PENDING'
        WHEN a.status = 'ON_GOING' THEN 'ONGOING'
        WHEN a.status = 'ENDED' AND a.winner_id IS NOT NULL THEN 'SUCCESS'
        WHEN a.status = 'ENDED' AND a.winner_id IS NULL THEN 'FAILED'
        WHEN a.status = 'CANCELLED' THEN 'CANCELLED'
        END AS saleStatus,
        ii.url AS imageUrl,
        a.created_at AS createdAt
        FROM auction a
        INNER JOIN auction_item ai
        ON a.item_id = ai.id
        LEFT JOIN item_image ii
        ON ii.item_id = ai.id
        AND ii.display_order = 1
        WHERE a.seller_id = #{memberId}
        ) q
        WHERE #{type} = 'ALL'
        OR q.saleStatus = #{type}
        <choose>
            <when test="pageRequest.order != null and pageRequest.order.toUpperCase() == 'ASC'">
                ORDER BY q.createdAt ASC
            </when>
            <otherwise>
                ORDER BY q.createdAt DESC
            </otherwise>
        </choose>
        LIMIT #{pageRequest.size}
        OFFSET #{pageRequest.offset}
    </select>

    <!-- 경매 개수 조회-->
    <select id="countMySalesAuctions" resultType="long">
        SELECT COUNT(*)
        FROM auction a
        WHERE a.seller_id = #{memberId}
        AND (
            #{type} = 'ALL'
           OR (#{type} = 'PENDING' AND a.status = 'PENDING')
           OR (#{type} = 'ONGOING' AND a.status = 'ON_GOING')
           OR (#{type} = 'SUCCESS' AND a.status = 'ENDED' AND a.winner_id IS NOT NULL)
           OR (#{type} = 'FAILED' AND a.status = 'ENDED' AND a.winner_id IS NULL)
           OR (#{type} = 'CANCELLED' AND a.status = 'CANCELLED')
            )
    </select>

    <!-- 총 경매 상품 개수, 경매 진행 중인 상품 개수, 낙찰 상품 개수, 유찰 상품 개수-->
    <select id="countMySalesAuctionSummary" resultType="MemberSalesAuctionSummaryResponse">
        SELECT
            COUNT(*) AS totalCount,
            SUM(CASE WHEN a.status = 'ON_GOING' THEN 1 ELSE 0 END) AS ongoingCount,
            SUM(CASE WHEN a.status = 'ENDED' AND a.winner_id IS NOT NULL THEN 1 ELSE 0 END) AS successCount,
            SUM(CASE WHEN a.status = 'ENDED' AND a.winner_id IS NULL THEN 1 ELSE 0 END) AS failedCount
        FROM auction a
        WHERE a.seller_id = #{memberId}
    </select>

    <select id="findByIdForUpdate" resultType="Member">
        SELECT *
        FROM member
        WHERE id = #{id}
            FOR UPDATE
    </select>

    <select id="findAllActiveMemberIds" resultType="long">
        SELECT id
        FROM member
        WHERE status = 'ACTIVE'
    </select>

    <select id="findAllActiveAdminIds" resultType="long">
        SELECT id
        FROM member
        WHERE status = 'ACTIVE'
          AND role = 'ADMIN'
    </select>
</mapper>

